<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:p="http://www.springframework.org/schema/p"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
        					http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        					http://www.springframework.org/schema/context 
        					http://www.springframework.org/schema/context/spring-context-4.2.xsd"
        default-autowire="byType" >

	<context:component-scan base-package="com.wuxi.service,com.wuxi.dao" />
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:*.properties</value>
			</list>
		</property>
	</bean>
	
	<bean name="operate" class="com.wuxi.service.OperateService" >
		<!-- <constructor-arg index="" value=""/>
		<constructor-arg name="" value=""/>
		<constructor-arg name="" ref=""/> -->
		<property name="userService" ref="userService"/>
		<!-- <property name="">
			<list>
				<value></value>
				<value></value>
				<ref bean=""/>
			</list>
		</property>
		<property name="">
			<set>
				<ref parent="" bean=""/>
			</set>
		</property>
		<property name="">
			<map>
				<entry key="" value-ref=""></entry>
			</map>
		</property>
		<property name="">
			<props>
				<prop key="name">zh</prop>
			</props>
		</property> -->
	</bean>
	
	<bean class="com.wuxi.service.animal.Pig" autowire-candidate="false"/>
	<bean class="com.wuxi.service.animal.Tiger" primary="true" />
	
	<bean id="timeRecoder" class="com.wuxi.service.TimeRecoder"></bean>
	
	<!-- spring的bean定义可以继承.一个子的bean定义可以从一个父bean定义中继承得到所有的属性,并且子bean的定义可以覆盖其通过继承得来的父bean定义的属性. -->
	<!-- <bean  id="" class="" parent="" init-method="" destroy-method="" abstract="true"/> -->
	
	<!-- <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
		p:dataSource-ref="dataSource"/> -->
	
	<import resource="application-datasource.xml"/>
</beans>